{{#each this}}
    <li class="card-list">
        <div class="img-container">
            <img src="{{img}}" alt="фото" class="card-img">
        </div>
        <div class="text-container">
            <p class="text-title">{{title}}</p>
            <p class="text-description">{{description}}</p>
            <p class="text-read">Read More <span class="text-mnem">&#62;</span></p>
        </div>        
    </li>
{{/each}}