<div class="header-background">
    <p class="nav-text">Travel</p>
        <ul class="nav-list">
            <li><a href="../index.html" class="link-style">Home</a></li>
            <li><a href="#" class="link-style">About</a></li>
            <li><a href="#" class="link-style">Destination</a></li>
            <li><a href="#" class="link-style">Services</a></li>
            <li><a href="#" class="link-style">Gallery</a></li>
            <li><a href="#" class="link-style">Blogs</a></li>
        </ul>
    <button class="header-btn">
        <span class="style-btn">Book Now</span>
    </button>
</div>